#home-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

#home-feed {
    width: 70vw;
}

#home-feed-content {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#home-feed-filters {
    position: fixed;
    top: 100px;
    left: 20px;
    width: 20vw;
}

#filter-message {
    position: fixed;
    top: 100px;
    right: -20vw;
    width: 20vw;
}

.filter-message-transition {
    transition: transform 0.5s ease-in-out, opacity 5s ease-in-out;
}

.filter-message-position {
    transform: translateX(-23vw);
}

.filter-message-fading {
    opacity: 0;
}