#settings-page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.settings-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.settings-label {
    align-self: center;
}