#settings-page {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.settings-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.settings-label {
    align-self: center;
}

.change-details-close {
    float: right;
}

.change-details-form {
    margin-top: 20px;
}

.change-details-submit {
    display: flex;
    flex-direction: row;
    gap: 20px;
}