.authentication-form-container {
    height: 75vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.authentication-form {
    width: 350px;
    position: relative;
}

.authentication-error {
    position: absolute;
    top: 100%;
}