.profile-settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.profile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.profile-button,.change-name {
  background-color: #00A3FF;
  height: 50px;
  width: 200px;
  border-radius: 100px;
  border: none;
}