.create-post {
    width: 50vw;
    min-width: 500px;
    max-width: 700px;
    border: lightgrey solid 1px;
    border-radius: 10px;
    padding: 20px;

    &:hover {
        border: black solid 1px;
    }
}

#post {
    &-content {
        resize: none;
    }

    &-choose {
        &-tag {
            display: flex;
            flex-direction: row;
            gap: 10px;
            flex-wrap: wrap;
            align-items: center;
        }

        &-images {
            width: 300px;
        }
    }

    &-submit-button {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 15px;
    }

    &-choose-images {
        width: 300px;
    }

    &-images-preview {
        display: flex;
        flex-direction: row;
        gap: 30px;
        flex-wrap: wrap;
    }
}

.visibility {
    &-section {
        display: flex;
        flex-direction: row;
        gap: 30px;

        button {
            width: fit-content;
        }
    }

    &-indicator {
        height: 30px;
        width: 30px;
        display: flex;
        flex-direction: row;
        gap: 7px;

        img {
            width: 30px;
        }
    }
}

.post {
    &-image-preview{
        &-div {
            height: 200px;
            width: 200px;
            position: relative;
            overflow: hidden;

            img {
                max-height: 100%;
                max-width: 100%;
                margin: 50%;
                transform: translate(-50%, -50%);
            }
        }

        &-close {
            position: absolute;
            top: 2px;
            right: 2px;
            background: #CDCBCB;
            border-radius: 5px;
        }
    }

    &-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &-creator {
        &-info {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            gap: 15px;
        }

        &-profile {
            &-pic {
                height: 50px;
                width: 50px;
                img {
                    height: 50px;
                    width: 50px;
                }
            }
        }

        &-text-info {
            display: flex;
            flex-direction: column;
            gap: 2px;
        }
    }

    &-more {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    &-link {
        height: 25px;
        width: 25px;
        cursor: pointer;
        img {
            max-height: 100%;
            max-width: 100%;
        }
    }

    &-title {
        word-wrap: break-word;
    }

    &-content {
        white-space: pre-wrap;
        word-wrap: break-word;
        text-align: justify;
    }

    &-images {
        display: flex;
        flex-direction: row;
        justify-content: center;
        img {
            max-height: 85%;
            max-width: 80%;
            margin: auto;
        }
    }

    &-edit{
        &-buttons {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }

        &-submit {
            display: flex;
            flex-direction: row;
            gap: 10px;
            align-items: center;
        }

        &-delete-buttons {
            display: flex;
            flex-direction: row;
            gap: 20px;
        }
    }
}

.carousel {
    width: 30vw;
    height: 20vw;
}

.carousel-item {
    width: 30vw;
    height: 20vw;
}

.carousel-inner {
    width: 30vw;
    height: 20vw;
}

.carousel-control-prev, .carousel-control-next {
    height: 85%;
}

#post-loader {
    margin-left: 49%;
}