.admin-page {
  display: flex;
  flex-direction: row;
}
.sidebar-menu {
  flex: 1;
  height: calc(100vh - 59px);
  position: sticky;
 
  padding: 10px;
  box-shadow: 5px 0 3px -3px #00000030;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 20px;
}
.admin-manage-container {
  flex: 5;
  padding: 10px;

}