#chat-page {
    height: calc(100vh - 60px);
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#chat-window {
    height: 70vh;
    width: fit-content;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#chat-selector {
    height: 100%;
    width: 24vw;
    max-width: 360px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

#chat-categories {
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    user-select: none;
}

.chat-category {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#chat-list {
    flex-grow: 1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#chat-list::-webkit-scrollbar {
    display: none;
}

.chat-listing {
    height: 74px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    padding-left: 25px;
}

.chat-listing-image {
    height: 50px;
    width: 50px;
}

.chat-listing-image img {
    height: 100%;
    width: 100%;
}

.create-new-group {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    padding-left: 25px;
}

.create-new-group-icon {
    flex-shrink: 0;
    height: 30px;
    width: 30px;
}

.create-new-group-icon img {
    height: 100%;
    width: 100%;
}

#chat-log {
    height: 100%;
    width: 46vw;
    max-width: 700px;
    flex-grow: 1;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}

#chat-messages {
    flex-grow: 1;
    overflow-y: auto;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#chat-messages::-webkit-scrollbar {
    display: none;
}

#chat-messages-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 3px;
}

.message-disabled {
    text-align: center;
}

#chat-bottom {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

#chat-input {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-bottom: 0px !important;
}

#chat-more-input {
    height: 36px;
    width: 36px;
    min-width: 36px;
    position: relative;
    cursor: pointer;
}

#chat-more-input img {
    height: 100%;
    width: 100%;
}

#chat-more-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.chat-more-option {
    min-height: 36px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.chat-more-option img {
    height: 36px;
    width: 36px;
    cursor: pointer;
}

.chat-more-option input {
    display: none;
}

#chat-text-input-div {
    flex-grow: 1;
}

.chat-target-post {
    margin-left: calc(46px + 0.5rem);
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    width: 85%;
    padding-top: 5px;
}

.chat-target-post-creator {
    height: 50px;
    width: 50px;
    flex-shrink: 0;
}

.chat-target-post-creator img {
    max-height: 100%;
    max-width: 100%;
}

.chat-target-post-text {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    flex-grow: 1;
    border-radius: 10px;
    overflow: hidden;
}

.chat-target-post-title {
    margin: 0;
    background-color: rgb(188, 188, 188);
}

.chat-target-post-content {
    background-color: rgb(226, 226, 226);
    flex-grow: 1;
}

#chat-text-input {
    min-width: 0px;
    flex-shrink: 1;
    resize: none;
    overflow: hidden;
}

.chat-text-char-count {
    font-size: 9px;
}

.chat-input-send-button {
    height: fit-content;
}

.text-line {
    display: flex;
    gap: 10px;
    align-items: center;
}

.text-line-user-img {
    height: 40px;
    width: 40px;
    flex-shrink: 0;
}

.text-line-user-img img {
    height: 100%;
    width: 100%;
}

.text-line-img {
    max-height: 24vw;
    max-width: 24vw;
}

.text-line-content {
    max-width: calc(100% - min(250px, 30%));
    border-radius: 10px;
    word-wrap: break-word;
    white-space: pre-wrap;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.text-line-content-username {
    text-decoration: none;
}

.text-line-content-text {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.text-line-post-hyperlink {
    text-decoration: none;
    color: black;
    padding: 1px;
    border-radius: 10px;
    overflow: hidden;
}

.text-line-post-title {
    background-color: rgb(188, 188, 188);
}

.text-line-post-content {
    background-color: rgb(226, 226, 226);
}

.file-preview {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 3;
    background-color: rgba(215, 215, 215, 0.6);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.file-preview-window {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.img-preview {
    height: 24vw;
    width: 36vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-preview img {
    max-height: 100%;
    max-width: 100%;
}

.message-loader {
    z-index: 4;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

#add-people-form-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
}

.file-upload-buttons {
    width: 30vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.find-friend-input {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.find-friend-result {
    position: relative;
}

.find-friend-result-box {
    position: absolute;
    top: 0px;
    left: 10px;
    z-index: 1;
    width: 30vw;
    min-height: 70px;
    max-height: 200px;
    border: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.find-friend-result-box::-webkit-scrollbar {
    display: none;
}

.find-friend-result-box-loader {
    z-index: 3;
    background: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-friend-listing {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.search-friend-img {
    height: 40px;
    width: 40px;
}

.search-friend-img img {
    height: 100%;
    width: 100%;
}

.search-friend-info {
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

.friends-added {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}

.friend-added-listing {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.friend-added-img {
    height: 50px;
    width: 50px;
}

.friend-added-img img {
    height: 100%;
    width: 100%;
}

.friend-added-info {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.group-chat-submit {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 15px;
}

.add-people-form {
    overflow: auto;
    height: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.add-people-form::-webkit-scrollbar {
    display: none;
}

.add-friend-actions {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.add-friend-success-icon {
    max-height: 25px;
    max-width: 25px;
}

.user-display {
    height: fit-content;
    max-height: min(50vh, 500px);
    overflow: auto;
    border: solid;
    border-width: 1px;
    border-radius: 7px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.user-display::-webkit-scrollbar {
    display: none;
}

.table-element {
    padding-left: 6px;
}

.action-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.action-buttons button {
    height: fit-content;
}

.user-action-message {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.user-action-message-text {
    white-space: pre-line;
}

.user-action-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}