#filter-message {
    position: fixed;
    top: 100px;
    right: -20vw;
    width: 20vw;
    z-index: -1;

    &.filter-message-transition {
        z-index: 1000;
    }
}

.filter-message {
    &-transition {
        transition: transform 0.5s ease-in-out, opacity 5s ease-in-out;
    }

    &-position {
        transform: translateX(-23vw);
    }

    &-fading {
        opacity: 0;
    }
}