.auth-message-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}
.auth-message-container {
  position: relative;
  padding: 32px;
  width: 100%;
  max-width: 640px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
}
.btn-close {
  position: absolute;
  top:20px;
  right: 20px;
  height: 50px;
  width: 50px;
  font-size: 20px;
  border: none;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.1);
}