<div id="navbar-container" class="sticky-top">
    <nav class="navbar navbar-expand bg-body-tertiary">
        <div class="container-fluid navbar-container">
            <div class="navbar-collapse justify-content-between" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    {% if not user.is_authenticated %} 
                        <li class="nav-item layout-nav-item">
                            <a href="{% url 'user_auth:login' %}" class="nav-link">Login</a>
                        </li>
                        <li class="nav-item layout-nav-item">
                            <a href="{% url 'user_auth:register' %}" class="nav-link">Register</a>
                        </li>
                    {% else %} 
                        <li class="nav-item layout-nav-item" id="nav-home" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="home">
                            <a href="{% url 'user_auth:home' %}" class="nav-link">
                                <img src="/static/media/nav-bar/home.png">
                            </a>
                        </li>
                        <li class="nav-item layout-nav-item" id="nav-request-tag" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="request tag">
                            <a href="javascript:void(0)" class="nav-link" id="request-tag-link">
                                <img src="/static/media/nav-bar/request-tag.png">
                            </a>
                        </li>
                        <li class="nav-item layout-nav-item" id="nav-profile" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="profile">
                            <a href="{% url 'user_profile:index' %}" class="nav-link">
                                <img src="/static/media/nav-bar/profile.png">
                            </a>
                        </li>
                        <li class="nav-item layout-nav-item" id="nav-message" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="message">
                            <a href="{% url 'message:index' %}" class="nav-link">
                                <img src="/static/media/nav-bar/message.png">
                            </a>
                        </li>
                    {% endif %} 
                    {% if user.is_staff %} 
                        <li class="nav-item layout-nav-item" id="nav-admin" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="admin">
                            <a href="{% url 'user_auth:admin' %}" class="nav-link">
                                <img src="/static/media/nav-bar/admin.png">
                            </a>
                        </li>
                    {% endif %} 
                    {% if user.is_superuser %} 
                        <li class="nav-item layout-nav-item" id="nav-manage-admin" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="manage-admin">
                            <a href="{% url 'user_auth:manage_admin' %}" class="nav-link">
                                <img src="/static/media/nav-bar/manage-admin.png">
                            </a>
                        </li>
                    {% endif %} 
                    {% if user.is_authenticated %} 
                        <li class="nav-item layout-nav-item" id="nav-settings" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="settings">
                            <a href="{% url 'user_auth:settings' %}" class="nav-link">
                                <img src="/static/media/nav-bar/settings.png">
                            </a>
                        </li>
                    {% endif %} 
                </ul>
                {% if user.is_authenticated %} 
                    <div class="position-relative">
                        <form autocomplete='off' id='search-form' class="d-flex" role="search">
                            <input id='search-input' class="form-control me-2" type="search" name="username" placeholder="Find user" aria-label="Search">
                            <button class="btn btn-outline-primary" type="submit">Search</button>
                        </form>
                        <div id="search-result-box" style="display: none"></div>
                    </div>
                {% endif %} 
            </div>
        </div>
    </nav>
</div>
<link rel="stylesheet" href="/static/style/nav-bar.css">
<script src="/static/script/nav-bar.js"></script>
<script type='text/babel' src="/static/script/user_log/search-result.jsx"></script>
<script src="/static/script/user_log/search-bar.js"></script>