.chatlist {
    width: 24vw;
    flex-shrink: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    cursor: default;

    &-indicator {
        height: 50px;
        flex-shrink: 0;
        display: flex;
        flex-direction: row;

        &-item {
            height: 100%;
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                background-color: rgb(227, 227, 227);
            }
        }
    }

    &-list {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        &-item {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: 74px;
            padding-left: 25px;
            padding-right: 20px;
            align-items: center;

            &:hover {
                background-color: rgb(227, 227, 227);
            }

            &-container {
                display: flex;
                flex-direction: row;
                gap: 15px;
                align-items: center;
                height: 100%;
            }

            &-img {
                height: 50px;
                width: 50px;
                img {
                    max-height: 100%;
                    max-width: 100%;
                }
            }

            &-highlight {
                background-color: rgb(203, 203, 203) !important;
            }
        }

        &-form {
            padding-left: 25px;
            height: 50px;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 15px;

            &:hover {
                background-color: rgb(227, 227, 227);
            }

            &-icon {
                height: 30px;
                width: 30px;
                img {
                    max-height: 100%;
                    max-width: 100%;
                }
            }

            &-highlight {
                background-color: rgb(203, 203, 203) !important;
            }
        }
    }
}