#documentation-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#documentation-overview {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

#documentation-overview-diagram {
    width: 40vw;
    min-width: 400px;
    max-width: 600px;
}

#documentation-overview-text {
    width: 50vw;
    min-width: 500px;
    max-width: 700px;
}

#documentation {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.documentation-section {
    width: 70vw;
    min-width: 500px;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#documentation-sequence {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#sequence-nav {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    flex-wrap: wrap;
}

.sequence-nav-btn {
    flex-shrink: 0;
}

#sequence-display {
    width: 120%;
    margin-left: -10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sequence-display img {
    max-width: 100%;
}

#documentation-nav {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

#documentation-body {
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 70vh;
}

#documentation-side-nav {
    overflow: auto;
    flex-shrink: 0;
}

.documentation-side-nav-page {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.documentation-side-nav-page button {
    width: fit-content;
}

#documentation-details {
    flex-grow: 1;
    height: 100%;
    border-radius: 10px;
    overflow: auto;
}

.documentation-details-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.documentation-subchapter {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.documentation-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.backend-documentation-path-display {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.backend-documentation-path-label {
    flex-shrink: 0;
}

.backend-documentation-section-header {
    font-weight: bold;
}

.backend-documentation-section-body {
    display: flex;
    flex-direction: column;
}

.backend-documentation-line {
    display: flex;
    flex-direction: row;
}

.backend-documentation-line-name {
    width: 30%;
    flex-shrink: 0;
}

.backend-documentation-line-description {
    flex-grow: 1;
}

.backend-documentation-return-value {
    resize: none;
    height: fit-content;
}

.database-documentation-fields {
    display: flex;
    flex-direction: column;
}

.database-documentation-field {
    display: flex;
    flex-direction: row;
}

.database-documentation-field-name {
    width: 20%;
    flex-shrink: 0;
    word-wrap: break-word;
}

.database-documentation-field-type {
    width: 30%;
    flex-shrink: 0;
    word-wrap: break-word;
}

.database-documentation-field-description {
    flex-grow: 1;
}

.web-frontend-documentation-path-display {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.web-frontend-documentation-path-label {
    flex-shrink: 0;
}

.web-frontend-documentation-apis, .web-frontend-documentation-redirects {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.web-frontend-documentation-api-path, .web-frontend-documentation-redirect-path {
    width: 50%;
}

.mobile-page-label {
    margin: 0;
}

.mobile-page-display {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.mobile-apis, .mobile-navs {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.mobile-api-path {
    width: 50%;
}

#websocket {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 80px;
}

#websocket-nav {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

#websocket-details {
    border-radius: 10px;
    padding: 10px;
    height: 60vh;
    overflow: auto;
}

#websocket-details > * {
    max-width: 100%;
}

.websocket-table-element {
    white-space: pre-wrap;
}