#testing-window {
    margin: 0 auto;
    width: 80%;
    min-width: 800px;
    max-width: 1200px;
}

#testing-sections {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#testing-apps {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.testing-textarea {
    resize: none;
    font: revert;
}

.user-testing-details-window {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.user-testing-section {
    display: flex;
    flex-direction: column;
}