.about-link {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px 10px;
  align-items: center;
  text-decoration: none;
  color:black;
  width: 120px;
  height: 50px;
  background-color: #888;
  border-radius: 10px;
  font-size: 20px;
  top: 80px;
  right: 50px;
}