body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.tag-button {
  display: flex !important;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  width: fit-content;

  img {
    height: 25px;
    width: 25px;
  }
}

.add-image-label {
  width: 50px;
  height: 50px;
  background: transparent;
  border: none;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.img-input {
  display: none !important;
}

.asterisk {
  color: rgb(241, 36, 36);
}

.clickable {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

input[type="file"] {
  display: none;
}

@import './components/navbar/navbar.scss';
@import './components/auth/login/login.scss';
@import './components/filter/home-filter.scss';
@import './pages/home/home.scss';
@import './components/posts/posts.scss';
@import './components/popup/filter-message.scss';
@import './components/popup/bottom-message.scss';
@import './pages/messages/messages.scss';
@import './components/messages/log.scss';
@import './components/messages/list.scss';
@import './components/messages/message.scss';
@import './components/messages/manage-group.scss';
@import './components/profile/ProfileDashBoard.scss';
@import './components/profile/ProfileWallPaper.scss';
@import './components/profile/OtherProfileWallPaper.scss'
