{% extends 'user_profile/user_profile_layout.html' %} 

{% block style %} 
    {{ block.super }}
    <link rel="stylesheet" href="/static/style/user_profile/index.css">
    <link rel="stylesheet" href="/static/style/posts/post.css">
{% endblock %} 

{% block content %} 
    <div id="profile-tags">
        {% for tag in tags %} 
            <div class="tag">
                <button class="tag-button btn btn-outline-info">
                    <img src="{{ tag.icon }}">
                    <div>{{ tag.name }}</div>
                </button>
            </div>
        {% endfor %} 
    </div>
    <div id="edit-post" style="display: none"></div>
    <script type="text/babel" src="/static/script/posts/edit-post.jsx"></script>
    <div id="profile-posts"></div>
    <script type="text/babel" src="/static/script/posts/display-post.jsx"></script>
{% endblock %} 