{% extends 'layout.html' %} 

{% block title %} 
    <title>Your Profile</title>
{% endblock %} 

{% block style %} 
    <link rel="stylesheet" href="/static/style/user_profile/index.css">
{% endblock %} 

{% block body %} 
    <div id="profile-page">
        <div id="profile-top" class="border-bottom p-4">
            <div id="profile-basic-info">
                <img height="200" width="200" src="{{ image_url }}" class="img-thumbnail">
                <div id="profile-basic-info-text-container">
                    <button type="button" class="btn btn-outline-primary">Edit Profile</button>
                    <div id="profile-basic-info-text" class="fs-3">
                        <strong id="profile-name">{{ user_profile.name }}</strong>
                        <div id="profile-id">@{{ user_profile.user_auth.username }}</div>
                    </div>
                </div>
            </div>
            <div id="profile-achievements"></div>
        </div>
        <div id="profile-tags" class="ps-5 py-4">
            {% for tag in tags %} 
                <div class="tag">
                    <button class="btn btn-outline-info">{{ tag.name }}</button>
                </div>
            {% endfor %} 
        </div>
    </div>
{% endblock %} 