{% extends 'layout.html' %} 

{% block title %} 
    <title>Your Profile</title>
{% endblock %} 

{% block style %} 
    <link rel="stylesheet" href="/static/style/user_profile/user_profile_layout.css">
{% endblock %} 

{% block body %} 
    <div id="profile-page">
        <div id="profile-top" class="border-bottom p-4">
            <div id="profile-basic-info">
                <img height="200" width="200" src="{{ image_url }}" class="img-thumbnail">
                <div id="profile-basic-info-text-container">
                    {% if my_profile %} 
                        <a href="{% url 'user_profile:setup' %}" class="">
                            <button type="button" class="btn btn-outline-primary">Edit Profile</button>
                        </a>
                    {% elif is_friend %} 
                        <div id="buttons"></div>
                        <script type="text/babel" src="/static/script/user_log/view_profile_buttons.jsx"></script>
                    {% elif is_friend_request_sent %} 
                        <div id="confirm-friend-request"></div>
                        <script type="text/babel" src="/static/script/user_log/pending_friend_request.jsx"></script>
                    {% else %} 
                        <form id="add_friend_form">
                            <input type="hidden" id="add_friend_username" value="{{ user_profile.username }}">
                            <input type="submit" value="Add Friend" class="btn btn-outline-primary">
                            <button style="display: none" id="friend_request_message_button" type="button" data-bs-toggle="modal" data-bs-target="#friendRequestMessage"></button>
                            <div class="modal fade" id="friendRequestMessage" tabindex="-1" aria-labelledby="addFriendLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="addFriendLabel">Message</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">Your friend request is sent.
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <script src="/static/script/user_log/add_friend.js"></script>
                    {% endif %} 
                    <div id="profile-basic-info-text" class="fs-3">
                        <strong id="profile-name">{{ user_profile.name }}</strong>
                        <div id="profile-id">@{{ user_profile.username }}</div>
                    </div>
                </div>
            </div>
            <div id="profile-achievements">
                <img src="/static/media/trophy.jpg" height="100" width="100">
            </div>
        </div>
        <div id="profile-content">
            <div id="profile-side-nav" class="sticky-top p-3 border-end">
                <ul class="nav flex-column">
                    {% if my_profile %} 
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'user_log:view_friends' %}">Friends</a>
                        </li>
                    {% endif %} 
                    {% if my_profile %} 
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'user_log:view_friend_requests' %}">Friend Requests</a>
                        </li>
                    {% endif %} 
                    {% if not my_profile %} 
                        <li class="nav-item" id="nav-tag-list">
                            <div id="profile-filter-header">
                                <div>Filters:</div>
                                <div class="btn btn-secondary" id="nav-clear-filter">Clear Filters</div>
                            </div>
                            {% for tag in tags %} 
                                <div class="tag-listing">
                                    <input type="radio" class="btn-check" name="options" id="nav-tag-{{ tag.name }}" autocomplete="off">
                                    <label class="tag-button btn btn-outline-info" for="nav-tag-{{ tag.name }}">
                                        <img src="{{ tag.icon }}">
                                        <div class="tag-name">{{ tag.name }}</div>
                                    </label>
                                </div>
                            {% endfor %} 
                        </li>
                    {% endif %} 
                </ul>
            </div>
            <div id="profile-page-content" class="ps-5 py-4">
                {% block content %} 
                {% endblock %} 
            </div>
        </div>
    </div>
{% endblock %} 