#profile-pic {
    height: 200px;
    width: 200px;
}

#profile-top {
    height: 250px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#profile-basic-info {
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 40px;
}

#profile-basic-info > img {
    height: 200px;
    width: 200px;
}

#profile-basic-info-text-container {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

#profile-basic-info-text {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: start;
}

#profile-achievements {
    height: 100px;
    width: 100px;
    align-self: start;
}

#profile-content {
    display: flex;
    flex-direction: row;
}

#profile-side-nav {
    height: 80vh;
    width: 200px;
    top: 60px;
    align-self: flex-start;
}

#buttons {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.no-longer-friend-icon {
    height: 20px;
    width: 20px;
}

.no-longer-friend-icon img {
    height: 20px;
    width: 20px;
}

#profile-page-content {
    width: 60vw;
    min-width: 400px;
}