.other-profile-wallpaper {
  background-color: aquamarine;
  width: auto;
  height: 300px;
  position: relative;
  border-radius: 20px;
}
.other-profile-info {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: -50px;
  left: 10px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 50%;
  height: 50%;
}
.other-profile-name {
  font-size: 60px;
  font-weight: bold;
}
.add-friend-btn {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.add-friend-request-menu, .unfriend-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}