.profile-posts-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.profile-posts-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
 
}
.profile-one-post {
  border: 1px solid rgb(202, 198, 198);
  border-radius: 5px;
  padding: 10px;
}