#documentation {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#documentation-window {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 70vw;
}

#documentation-nav {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

#documentation-body {
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 70vh;
}

#documentation-side-nav {
    overflow: auto;
    width: 15vw;
    flex-shrink: 0;
}

.documentation-side-nav-page {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.documentation-side-nav-page button {
    width: fit-content;
}

#documentation-details {
    flex-grow: 1;
    height: 100%;
    border-radius: 10px;
    overflow: auto;
}

.documentation-details-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.documentation-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.backend-documentation-path-display {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.backend-documentation-path-label {
    flex-shrink: 0;
}

.backend-documentation-section-body {
    display: flex;
    flex-direction: column;
}

.backend-documentation-line {
    display: flex;
    flex-direction: row;
}

.backend-documentation-line-name {
    width: 30%;
    flex-shrink: 0;
}

.backend-documentation-line-description {
    flex-grow: 1;
}

.backend-documentation-return-value {
    resize: none;
    height: fit-content;
}

.database-documentation-fields {
    display: flex;
    flex-direction: column;
}

.database-documentation-field {
    display: flex;
    flex-direction: row;
}

.database-documentation-field-name {
    width: 20%;
    flex-shrink: 0;
    word-wrap: break-word;
}

.database-documentation-field-type {
    width: 30%;
    flex-shrink: 0;
    word-wrap: break-word;
}

.database-documentation-field-description {
    flex-grow: 1;
}

.web-frontend-documentation-path-display {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.web-frontend-documentation-path-label {
    flex-shrink: 0;
}

.web-frontend-documentation-apis, .web-frontend-documentation-redirects {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.web-frontend-documentation-api-path, .web-frontend-documentation-redirect-path {
    width: 50%;
}