/* #navbar-container {
    height: 60px;
} */

#search-result-box {
    border: solid;
    border-color: black;
    border-radius: 20px;
    border-width: 1px;
    background-color: white;
    width: 40vw;
    min-height: 10vh;
    position: absolute;
    right: 0px;
}