#search-result-box {
    border: solid;
    border-color: black;
    border-radius: 20px;
    border-width: 1px;
    background-color: white;
    width: 40vw;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    min-height: 10vh;
    position: fixed;
    top: 56px;
    right: 20px;
}

.search-result-listing {
    display: flex;
    flex-direction: row;
    width: 36vw;
    justify-content: space-between;
    align-items: center;
}

.search-result-listing-left-side, .search-result-listing-right-side {
    display: flex;
    flex-direction: row;
    gap: 0.6vw;
    align-items: center;
}

.search-result-listing-profile-pic {
    height: 50px;
    width: 50px;
}

.search-result-listing-profile-pic img {
    height: 50px;
    width: 50px;
}

