.navbar {
  &-container {
    width: 90%;
    max-width: 1100px;
  }

  &-nav {
    gap: 3vw;
  }
}

.nav {
  &-link img {
    height: 25px;
  }

  &-item {
    border-radius: 10px;
    cursor: pointer;
  }
}

.layout-nav-item:hover {
  background-color: lightgrey;
}
