{% extends 'layout.html' %} 

{% block title %} 
    <title>About</title>
{% endblock %} 

{% block style %} 
    <link rel="stylesheet" href="/static/style/user_auth/about.css">
{% endblock %} 

{% block script %} 
    <script type="text/babel" src="/static/script/user_auth/about.jsx"></script>
{% endblock %} 

{% block body %} 
    <div class="introduction py-4">
        <div class="introduction-content">
            <h1>MatchMiner</h1>
            <img height='200' width='200' src="/static/media/logo.png">
            <h1>About</h1>
            <div class="introduction-read-me">
                <h3>Team Name</h3>
                <div class="about-section mb-4">SuperCellMates</div>
                <h3>Level of Achievement</h3>
                <div class="about-section mb-4">Apollo 11</div>
                <h3>Motivation</h3>
                <div class="about-section" id="about-motivation"></div>
                <h3>User Stories</h3>
                <div class="about-section" id="about-user-stories"></div>
                <h3>Project Scope</h3>
                <div class="about-section" id="about-project-scope"></div>
                <h3>Features</h3>
                <div class="about-section" id="about-features"></div>
                <h3>Proof of Concept</h3>
                <div class="about-section">
                    <div class="website-link">Web: You are already on our website!</div>
                    <div class="website-link">Android: <a target="_blank" href="https://appdistribution.firebase.google.com/testerapps/1:820742877564:android:82561ce998f29fab9934f9/releases/5spmfi5pr2nu0?utm_source=firebase-console">here</a></div>
                </div>
            </div>
            <div class="orbital-links mt-4">
                <h3>Orbital Links:</h3>
                <ul class="list-group">
                    <li class="list-group-item"><a target="_blank" href="/documentation">Documentation</a></li>
                    <li class="list-group-item list-group-item-primary"><a target="_blank" href="javascript:void(0)">Log</a></li>
                </ul>
            </div>
            <hr class="mt-5">
            <h2 class="introduction-section-header">This website is made by the two of us</h2>
            <div class="author-block">
                <div class="author-content">
                    <div class="author-header">
                        <h3>Nguyen Khoi Nguyen</h3>
                        <img src="/static/media/Nguyen.jpeg" height="200">
                    </div>
                    <div class="author-social-links-section">
                        <h5>Links:</h5>
                        <div class="author-social-links">
                            <a href="/user/profile/nguyen" target="_blank">
                                <img src="/static/media/logo.png">
                            </a>
                            <a href="https://github.com/nknguyenhc" target="_blank">
                                <img src="/static/media/social-icons/github.png">
                            </a>
                            <a href="https://www.linkedin.com/in/nguyen-khoi-nguyen-6279341a8/" target="_blank">
                                <img src="/static/media/social-icons/linkedin.png">
                            </a>
                            <a href="https://www.instagram.com/n_khoi_nguyen/" target="_blank">
                                <img src="/static/media/social-icons/instagram.png">
                            </a>
                        </div>
                    </div>
                    <div class="author-readme">
                        <p>I am currently pursuing Computer Science in NUS.</p>
                        <p>I won gold medals in Mathematics and Physics Olympiad in high school. I aspire to apply my Mathematics skills in real-world problems, through Computer Science. In NUS Game Development Group, I have picked up game development skills and published a game within the first semester.</p>
                        <p>I am in the executive committee of NUS Game Development Group. The co-curricular activity empowers students with tools and knowledge to develop games. I am also currently the captain of the Chinese Chess Section in NUS.</p>
                    </div>
                </div>
                <div class="author-content">
                    <div class="author-header">
                        <h3>Luo Jiale</h3>
                        <img src="/static/media/Jiale.jpg" height="200">
                    </div>
                    <div class="author-social-links-section">
                        <h5>Links:</h5>
                        <div class="author-social-links">
                            <a href="/user/profile/jiale" target="_blank">
                                <img src="/static/media/logo.png">
                            </a>
                            <a href="https://github.com/Singa-pirate" target="_blank">
                                <img src="/static/media/social-icons/github.png">
                            </a>
                            <a href="https://www.linkedin.com/in/luo-jiale/" target="_blank">
                                <img src="/static/media/social-icons/linkedin.png">
                            </a>
                            <a href="https://www.instagram.com/jialeehh/" target="_blank">
                                <img src="/static/media/social-icons/instagram.png">
                            </a>
                        </div>
                    </div>
                    <div class="author-readme">
                        <p>I'm into problem solving and various related fields. In high school, I explored my interest in Mathematics, Physics and Computer Science through Olympiads and other competitions.</p>
                        <p>Fascinated by technologies enabled by coding and Mathematical knowledge, I choose to study Computer Science with Mathematics second major in NUS. I wish to apply what I've learnt to solve real-world problems and empower communities.</p>
                        <p>In my free time, I like singing, playing and designing games. I'm a member of NUSChoir and NUS Game Development Group.</p>
                    </div>
                </div>
            </div>
            <div class="admin-application-section">
                <h4 class="admin-application-invitation">Interested in helping us maintain this website? You are welcome to <a href="{% url 'user_auth:admin_application' %}">join us</a>!</h4>
            </div>
        </div>
    </div>
{% endblock %} 