<div id="add_tag" style="display: none"></div>
<button style="display: none" id="tag_request_message_button" type="button" data-bs-toggle="modal" data-bs-target="#tagRequestMessage"></button>
<div class="modal fade" id="tagRequestMessage" tabindex="-1" aria-labelledby="tag-request-message-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="tag-request-message-label">Message</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="tag-request-message-content">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/babel" src="/static/script/user_auth/add_tag.jsx"></script>
<link rel="stylesheet" href="/static/style/user_auth/add_tag.css">