{% extends 'layout.html' %} 

{% block title %} 
    <title>MatchMiner - Home</title>
{% endblock %} 

{% block style %} 
    <link rel="stylesheet" href="/static/style/user_auth/home.css">
    <link rel="stylesheet" href="/static/style/posts/post.css">
{% endblock %} 

{% block script %} 
    <script type="text/babel" src="/static/script/posts/create_post.jsx"></script>
    <script type="text/babel" src="/static/script/posts/one-post.jsx"></script>
    <script type="text/babel" src="/static/script/posts/homefeed.jsx"></script>
{% endblock %} 

{% block body %} 
    <div id="home-content" class="pt-3 pb-5">
        <h3 id="welcome-message">Welcome, {{ user.user_profile.name }} @{{ user.username }}</h3>
        <div id="create-post"></div>
        <div id="home-feed" class="pt-5"></div>
    </div>
{% endblock %} 