{% extends 'user_auth/user_auth_layout.html' %} 

{% block title %} 
    <title>MatchMiner - Login</title>
{% endblock %} 

{% block script %} 
    {{ block.super }}
    <script src="/static/script/user_auth/login.js"></script>
{% endblock %} 

{% block body %} 
    <div class="authentication-form-container">
        <form autocomplete="off" method="POST" id="login-form" class="authentication-form needs-validation" novalidate>
            {% csrf_token %} 
            <div class="m-2">
                <label for="username" class="form-label">Username</label>
                <input type="text" name="username" class="form-control" id="username" autofocus required>
                <div class="invalid-feedback">Please enter a username</div>
            </div>
            <div class="m-2">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" id="password" required>
                <div class="invalid-feedback">Please enter a password</div>
            </div>
            <div class="m-2">
                <input type="submit" class="btn btn-primary" value="Login">
            </div>
            <div class="m-2">Don't have an account yet? Register <a href="{% url 'user_auth:register' %}">here</a>.</div>
            <div class="authentication-error">
                <div class="alert alert-danger m-2" id="login-message"></div>
                {% if error_message %} 
                    <div class="alert alert-danger m-2" id="backend-message">{{ error_message }}</div>
                {% endif %} 
            </div>
        </form>
    </div>
{% endblock %} 