{% extends 'user_auth/user_auth_layout.html' %} 

{% block title %} 
    <title>Register</title>
{% endblock %} 

{% block script %} 
    {{ block.super }}
    <script src="/static/script/user_auth/register.js"></script>
{% endblock %} 

{% block body %} 
    <div class="authentication-form-container">
        <form action="{% url 'user_auth:register' %}" method="POST" id="register-form" class="authentication-form">
            {% csrf_token %} 
            <div class="m-2">
                <label for="name" class="form-label">Full Name</label>
                <input type="text" name="name" id="name" class="form-control">
            </div>
            <div class="m-2">
                <label for="username" class="form-label">Username</label>
                <input type="text" name="username" id="username" class="form-control">
            </div>
            <div class="m-2">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" id="password" class="form-control">
            </div>
            <div class="m-2">
                <label for="confirm-password" class="form-label">Confirm password</label>
                <input type="password" id="confirm-password" class="form-control">
            </div>
            <div class="m-2">
                <input type="submit" value="Create Account" class="btn btn-primary">
            </div>
            <div class="authentication-error">
                <div class="alert alert-danger m-2" id="register-message"></div>
                {% if error_message %} 
                    <div class="alert alert-danger m-2" id="backend-message">{{ error_message }}</div>
                {% endif %}
            </div>
        </form>
    </div>
{% endblock %} 