.settings-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 100px;
}
.left-section {
  height: calc(100vh - 80px);
  margin-top: 20px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 2px 0 5px -2px #888;
  font-size: 18px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 20px;

 
}
.right-section {
  flex: 1;
  padding: 15px;
}
.menu-title {
  margin-left: 0;
}
.menu-settings-button {
  margin-left:0;
  background-color: white;
  height: 50px;
  width: 100%;
  border: none;
  padding: 5px 5px;
  text-align: left;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s;
}
.logout-link {
  color: black;
  text-decoration: none;
  background-color: rgba(0,0,0,0.2);
  text-align: center;
  padding: 5px;
  border: none;
  width: 50%;
  height: 40px;
  border-radius: 10px;
  opacity: 1;
  transition: opacity 1s;
}


.logout-link:hover {
  opacity: 0.7;
}
.menu-settings-button:hover {
  opacity: 1;
  background-color: #00A3FF;
}
.about-link {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px 10px;
  align-items: center;
  text-decoration: none;
  color:black;
  width: 120px;
  height: 50px;
  background-color: #888;
  border-radius: 10px;
  font-size: 20px;
  bottom: 10%;
  left: 10px;
}

